@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap');

:root {
    /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    /* Gradients */
    --Light-slate-blue: hsl(252, 100%, 67%);    /*background*/
    --Light-royal-blue: hsl(241, 81%, 54%);     /*background*/
    --Violet-blue: hsla(256, 72%, 46%, 1);      /*circle*/
    --Persian-blue: hsla(241, 72%, 46%, 0);     /*circle*/
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--Pale-blue);
}

main {
    width: 100%;
    min-height: 95vh;
    display: grid;
}

.container {
    place-self: center;
    width: 736px;
    height: 512px;
    background-color: var(--White);
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.container .box1 {
    width: 368px;
    height: 512px;
    border-radius: 32px;
    background: var( --Light-slate-blue);
    background: linear-gradient(var(--Light-slate-blue) 0%, var(--Light-royal-blue) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .box2 {
    width: 368px;
    height: 512px;
}

.container .box1 h2 {
    color: var( --Light-lavender);
}
.container .box1 .oval {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: var(--Violet-blue);
    background: radial-gradient(var(--Violet-blue) 0%, var(--Persian-blue) 100%);
    font-size: 18px;
    font-weight: bold;
    color: var( --Light-lavender);
}

.number {
    color: var(--White);
    font-size: 72px;
}


.container .box1 p {
    color: var( --Light-lavender);
    font-size: 18px;
    font-weight: bold;
}