@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap');

:root {
    /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    /* Gradients */
    --Light-slate-blue: hsl(252, 100%, 67%);    /*background*/
    --Light-royal-blue: hsl(241, 81%, 54%);     /*background*/
    --Violet-blue: hsla(256, 72%, 46%, 1);      /*circle*/
    --Persian-blue: hsla(241, 72%, 46%, 0);     /*circle*/
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--Pale-blue);
}

main {
    width: 100%;
    min-height: 95vh;
    display: grid;
}

.container {
    place-self: center;
    width: 736px;
    height: 512px;
    background-color: var(--White);
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.container .box1 {
    width: 368px;
    height: 512px;
    border-radius: 32px;
    background: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
    );
    color: var(--White);
    text-align: center;
    align-content: center;
}

.box1_head {
    color: var(--Light-lavender);
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}

.score {
    width: 200px;
    height: 200px;
    background: linear-gradient(to top, var(--Persian-blue), var(--Violet-blue));
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.score span:first-child {
    font-size: 72px;
    font-weight: bold;
}
.score span:last-child {
    color: var(--Light-lavender);
}

.message {
    font-size: 32px;
    font-weight: bold;
}

.information {
    color: var(--Light-lavender);
    font-size: 18px;
    padding: 0px 60px;
}

.container .box2 {
    width: 368px;
    height: 512px;
}


.box2_head {
    color: var(--Dark-gray-blue);
    font-size: 24px;
    font-weight: bold;
    padding: 10px 40px;
}

.results {
    width: 288px;
    height: 272px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 15px 0;
}

.results div {
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.results div span {
    font-size: 18px;
    font-weight: normal;
}
.results div span:last-child {
    padding: 0px 10px;
    color: var(--Dark-gray-blue);
}

.results .Reaction {
    background-color: hsla(0, 100%, 67%, 0.08);
    color: var(--Light-red);
}
.results .Memory {
    background-color: hsla(39, 100%, 56%, 0.08);
    color: var(--Orangey-yellow);
}
.results .Verbal {
    background-color: hsla(166, 100%, 37%, 0.08);
    color: var(--Green-teal);
}
.results .Visual {
    background-color: hsla(234, 85%, 45%, 0.08);
    color: var(--Cobalt-blue);
}

.icon {
    width: 20px;
    height: 20px;
    padding: 0px 10px;
    transform: translate(0px, 4px);
}

.results .value {
    font-weight: bold;
}

.button {
    width: 288px;
    height: 52px;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    border-radius: 32px;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
    cursor: pointer;
}
.button:hover {
    width: 288px;
    height: 52px;
    background-color: var(--Light-royal-blue);
    color: var(--White);
    border-radius: 32px;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
    cursor: pointer;
}


@media (max-width: 500px) {
    .container {
        width: 375px;
        height: 809px;
        flex-direction: column;
        border-radius: 0px;
    }
    .container .box1 {
        width: 375px;
        height: 356px;
        border-radius: 0px 0px 32px 32px;
    }

    .box1_head {
        font-size: 18px;
        font-weight: bold;
        padding-top: 5px;
    }

    .box2_head {
        font-size: 18px;
        font-weight: bold;
    }

    .score {
        width: 140px;
        height: 140px;
        gap: 0rem;
    }

    .score span:first-child {
        font-size: 56px;
        font-weight: bolder;
    }
    .score span:last-child {
        font-size: 16px
    }

    .message {
        font-size: 24px;
        font-weight: bold;
    }
    
    .information {
        color: var(--Light-lavender);
        font-size: 16px;
        padding: 0px 60px;
    }
}